<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @*<iframe src="/index.html" frameborder="none" scrolling="auto" style="width: 100%; height: 100%;"></iframe>*@
    <embed src="/index.html" width="100%" height="100%" style="width: 100%; height: 100%;" />
</body>
</html>
