@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using WindySong.NoteBook.Web.Common
@model WindySong.NoteBook.App.ViewModels.Admin.UpdatePasswordModel
@using WindySong.NoteBook.Web.Common
<!DOCTYPE html>
<html>
<head>
    @await Component.InvokeAsync("Head")
    @await Component.InvokeAsync("Style")
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>修改密码 <small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" id="myform" class="form-horizontal" asp-controller="AdminUser" asp-action="Password">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">旧密码</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <!--使用form-group包裹表单，才能正确的显示前端验证提示信息-->
                                        <input type="password" class="form-control" asp-for="oldPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">新密码</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" asp-for="newPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">确认新密码</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" asp-for="confirmNewPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="submitForm" class="btn btn-primary" type="button">保存内容</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            //文档加载完成后添加保存按钮的单击事件
            $("#submitForm").click(function () {
                $('#myform').submit();
            });

        });

        $.validator.setDefaults({
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                element.closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: "span",
            errorPlacement: function (error, element) {
                if (element.is(":radio") || element.is(":checkbox")) {
                    error.appendTo(element.parent().parent().parent());
                } else {
                    error.appendTo(element.parent());
                }
            },
            errorClass: "help-block m-b-none",
            validClass: "help-block m-b-none"


        });
        //表单验证
        // validate signup form on keyup and submit
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#myform").validate({
            rules: {
                oldPassword: {
                    required: true,
                    minlength: 6,
                    maxlength: 16
                },
                newPassword: {
                    required: true,
                    minlength: 6,
                    maxlength: 16
                },
                confirmNewPassword: {
                    equalTo: "#newPassword"
                }
            },
            messages: {
                oldPassword: {
                    required: icon + "请输入旧密码",
                    minlength: icon + "旧密码必须6个字符以上",
                    maxlength: icon + "旧密码必须16个字符以下"
                },
                newPassword: {
                    required: icon + "请输入新密码",
                    minlength: icon + "新密码必须6个字符以上",
                    maxlength: icon + "新密码必须16个字符以下"
                }
                ,
                confirmNewPassword: {
                    equalTo: icon + "两次新密码输入不一致"
                }
            },
            //表单验证成功执行方法
            submitHandler: function (form) {
                $.ajax({
                    url: '/AdminUser/Password',
                    type: 'post',
                    dataType: 'json',
                    data: $("#myform").serialize(),
                    cache: false,
                    error: erryFunction,  //错误执行方法
                    success: succFunction//成功执行方法
                });
                function erryFunction() {
                    PopupDia("请求失败", "error", "error");
                }
                function succFunction(data) {
                    //获取返回的json数据
                    //获取返回的json数据
                    var state = data.state;
                    var title = data.title;
                    var text = data.text;
                    var type = data.type;

                    PopupDia(title, text, type);
                }
                function PopupDia(strTitle, strText, strType) {
                    var iconnumber;
                    if (strType == "success") {
                        iconnumber = 1;
                    }
                    else if (strType == "error") {
                        iconnumber = 2;
                    }
                    else {
                        iconnumber = 1;
                    }
                    layer.msg(strTitle + ',' + strText, { icon: iconnumber, offset: 't' });
                }
            }
        });
    </script>
</body>
</html>
