
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="~/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <title>TabTwo</title>
</head>
<body>
    <table id="table"></table>


    <!-- 全局js -->
    <script src="~/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="~/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <script>
        $('#table').bootstrapTable({
            striped:true,//是否显示行间隔色
            cache:false,//是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination:true,//是否显示分页（*）
            sortable:false,//是否启用排序
            sortOrder:"asc",//排序方式
            //queryParams: oTableInit.queryParams,//传递参数（*）
            sidePagination:"server",//分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,//初始化加载第一页，默认第一页
            pageSize:1,//每页的记录行数（*）
            pageList:[10, 25, 50, 100],//可供选择的每页的行数（*）
            strictSearch:true,
            clickToSelect:true, //是否启用点击选中行
            //height:460,//行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId:"id",//每一行的唯一标识，一般为主键列
            cardView:false,//是否显示详细视图
            detailView:false,//是否显示父子表
            //表格的列
            columns: [
                {
                    field: 'id',
                    title: 'ID'
                },
                {
                    field: 'name',
                    title: '名称'
                },
                {
                    field: 'description',
                    title: '描述'
                }
                ,
                {
                    field: 'rank',
                    title: '排序值'
                }
                ,
                {
                    field: 'lastTime',
                    title: '添加时间'
                }
            ],
            data: [
                {
                    id: 1,
                    name: 'cpp',
                    description: 'c++',
                    rank: 1,
                    lastTime:'2018年'
                },
                {
                    id: 1,
                    name: 'python',
                    description: 'python',
                    rank: 2,
                    lastTime: '2018年'
                }
            ]
        });
    </script>
</body >
</html >
